<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>jsextends中库的在线文档</title>
    <link rel="stylesheet" href="./assets/main.css" />
  </head>
  <body class="flex justify-center items-center min-h-lvh">
    <div class="container m-auto">
      <div class="text-[20px] text-center text-slate-800 leading-10">
        <a class="text-orange-700" href="https://github.com/jsextends"
          >jsextends</a
        >仓库中某些库的在线文档
      </div>
      <div class="text-[18px] text-center text-slate-700 leading-8 mt-4 mb-10">
        一群热爱前端技术研发的自我救赎与升华
      </div>

      <div class="flex flex-row">
        <div class="basis-1/3">
          <div class="p-6 border border-slate-200 rounded-md">
            <div class="leading-8 text-center mb-4">激流勇进</div>
            <div class="leading-6 tracking-wider">
              以光缆为弦，拨动量子潮涌的混沌琴音。我们撕开硅基荒原的熵增裂谷，将区块链雪崩锻造成通天悬梯，踏着加密闪电刺穿元宇宙的极光穹顶
            </div>
          </div>
        </div>
        <div class="basis-1/3 mx-10">
          <div class="p-6 border border-slate-200 rounded-md">
            <div class="leading-8 text-center mb-4">返璞归真</div>
            <div class="leading-6 tracking-wider">
              剥离赛博苔衣的蝉，沿着晶体管年轮逆向生长。掌心渗入露珠编译的初代代码，在腐殖质云盘里破译万物生长的原始哈希
            </div>
          </div>
        </div>
        <div class="basis-1/3">
          <div class="p-6 border border-slate-200 rounded-md">
            <div class="leading-8 text-center mb-4">星辰大海</div>
            <div class="leading-6 tracking-wider">
              当碳硅神经突触刺穿暗能量海沟，星尘便在纳米管年轮中绽放。以引力波为纤绳拽动坍缩奇点，让量子磷火在视网膜褶皱里永恒震荡
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-row justify-center mt-10">
        <div class="item">
          <a href="https://usernameisregistered.github.io/">得鹿梦鱼</a>
        </div>
      </div>
    </div>
  </body>
</html>
